.Answer {
  margin-top: 50px;
  font-size: 1.2rem;
  width: 100%;
  .MuiButton-contained {
    background-color: #FF4A57;
    color: #F5F5F6;
    font-weight: bold;
    &:hover {
      background-color: #ff424f;
    }
  }
}