// FONTS

// Font body
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

body {
  background-color: #23263A;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --dark-grey: #28282A;
  --dark-blue: #284b63;
}