.Projects {
  margin-top: 50px;
  h2 {
    color: #FF4A57;
    padding: 1rem 0 0 0;
    margin: 0;
    font-weight: bold;
    font-size: 3rem;
  }
  .underline {
    display: block;
    height: 0.3rem;
    width: 115px;
    background-color: #FF4A57;
  }
}