.RecruiterNav {
  background-color: #212336;
  .name {
    margin: 0;
    padding: 1rem;
    color: #FF4A57;
    border-bottom: 1px solid #2B2D41;
  }
  .text {
    font-weight: bold;
    padding: 3rem 0 2rem 4rem;
    @media only screen and (max-width: 768px) {
      padding: 3rem 0 2rem 1rem;
    }
  }
  .survey-duration {
    display: flex;
    justify-content: end;
    padding-bottom: 1rem;
    div {
      margin-right: 4rem;
      @media only screen and (max-width: 576px) {
        margin-right: 5%;
      }
      h3 {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 0;
        text-align: right;
      }
    }
  }
}