.SingleProjectContainer {
  @media only screen and (min-width: 576px) {
    width: 60%;
    &:nth-of-type(odd) {
      margin-left: 5%;
    }
    &:nth-of-type(even) {
      margin-left: 35%;
    }
  }
  margin-top: 50px;
  padding: 15px;
  background-color: #2B2D41;
  h3 {
    font-size: 1.5rem;
    padding-left: 20px;
    font-weight: bold;
    color: #FF4A57;
  }
  .timespan {
    font-style: italic;
    color: #F1f1f1f1;
    font-size: 0.9rem;
  }
  .info {
    display: flex;
    @media only screen and (max-width: 576px) {
      flex-flow: column;
      .image {
        margin: 20px 0;
        max-width: 100%;
        height: auto;
      }
    }
    .image {
      max-height: 40px;
    }
    .description {
      padding: 0 20px;
      p {
        text-align: justify;
      }
    }
  }
  .info.portrait {
    @media only screen and (max-width: 576px) {
      flex-flow: column;
    }
    .description {
      margin: auto 0;
      padding: 0 20px;
      p {
        text-align: justify;
      }
    }
  }
  .links {
    margin-top: 0.5rem;
    a {
      display: inline-flex;
      text-decoration: none;
      font-weight: bold;
      align-items: center;
      color: #FF4A57;
      svg {
        margin-left: 5px;
        width: 20px;
      }
    }
  }
}