.Survey {
  display: flex;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  h1 {
    width: 100%;
    font-size: 2rem;
  }
  .MuiLinearProgress-root {
    flex-grow: 1;
  }
  .feedback {
    display: flex;
    align-items: center;
    width: 100%;
    span {
      margin-right: 2rem;
    }
  }
  .MuiButton-contained.Mui-disabled {
    align-self: flex-start;
    color: lightgrey;
    margin-top: 50px;
  }
}